<div class="jumbotron jumbotron-fluid bg-danger text-white">
  <div class="container">
    <br>
    <h1 class="display-4 text-center">What category is your gift?</h1>
<br>
  </div>
</div>

{{!-- CONTAINER
--}}
<section class="container">

  <div class="row">
    <div class="col col-md-6 col-md-offset-3">

      <button id="Clothes" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Clothes</a></button>
      <button id="Jewelery" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Jewelery</a></button>
      <button id="Electronics" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Electronics</a></button>
      <button id="Toys" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Toys</a></button>

    </div>



    <div class="col col-md-6 col-md-offset-3">

      <button id="Health" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Health</a></button>
      <button id="Entertainment" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Entertainment</a></button>
      <button id="Books" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Books</a></button>
      <button id="Pick For Me" type="submit" class="btn btn-danger btn-block cat"> <a class="link" href="#">Pick For Me</a></button>

    </div>
  </div>

<br>
<div id="redirectBtn" class= "container">
  <div class="row justify-content-center">
  <div class="col-3">
    <button style="margin-top: 30px;" class="btn btn-warning btn-block"><a style="color: white;" href="/">Return to Main Menu</a></button>
     <button style="margin-top: 10px;" class="btn btn-primary btn-block"><a style="color: white;" href="/login">Select a Person</a></button>
     <button style="margin-top: 10px;" class="btn btn-success btn-block"><a style="color: white;" href="/price">Select a Price</a></button>     
  </div>
  </div> 
</div>
</section> <!-- END OF CONTAINER -->



<script type="text/javascript" src="js/category.js"></script>