<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h1 class="display-4 text-center">Who is your gift for?</h1>

  </div>
</div>
{{!-- <div class="container">
  <div class="col">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
     
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Grandpa</a></button>
                </div>

                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Husband</a></button>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Father</a></button>
                </div>
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Son</a></button>
                </div>
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Brother</a></button>
                  <button><a style="text-decoration: none;" href="/">NVM</a></button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Grandma</a></button>
                </div>

                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Wife</a></button>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Mother</a></button>
                </div>
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Daughter</a></button>
                </div>
                <div class="col col-md-6 col-md-offset-3">
                  <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Sister</a></button>
                  <button><a style="text-decoration: none;" href="/">NVM</a></button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div> --}}
<section class="container">
  <div class="row">
    <div class="col col-md-6 col-md-offset-3">
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Grandpa</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Father</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Husband</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Son</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Brother</a></button>

    </div>

    <div class="col col-sm-6 col-md-offset-3">

      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Grandma</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Mother</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Daughter</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Wife</a></button>
      <button type="submit" class="btn btn-primary btn-block"> <a id="a" href="#">Sister</a></button>
    </div>
    <br>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <button style="margin-top: 50px;" class="btn btn-warning btn-block"><a style="color: white;" href="/">Return to
          Main Menu</a></button>
    </div>
  </div>
</section>

<script type="text/javascript" src="js/login.js"></script>