<div class="jumbotron jumbotron-fluid bg-warning">
  <div class="container">
    <br>
    <h1 class="display-4 text-center">Oh-My-Gift</h1>
    <br>
    <p class="lead text-center"> {{!-- Item name goes here--}}</p>
  </div>
</div>
<div class="container">
{{!-- Item output goes here --}}

</div>
 <script src="js/omg.js"></script>
    