<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
    <br>
    <h1 class="display-4 text-center">Oh-My-Gift</h1>
    <br>
    <p class="lead text-center"> {{!-- Item name goes here--}}</p>
  </div>
</div>
<div class="container">
{{!-- Item output goes here --}}
 <div class="card">
  <div class="card-header text-center">
    <p> Your Gift for ${whoever they selected}</p>
  </div>
  
  <div class="card text">
  <div class="col">
    <div id="omgUrl" class="row"> <p> Product Url </p></div>
    <div id="omgName" class="row"> <p> Product Name </p></div>
    <div id="omgDescript" class="row"> <p> Product Description </p></div>
    <div id="omgPrice" class="row"> <p> Product Price </p></div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> <p> Product Url </p></div>
    <div id="omgName" class="row"> <p> Product Name </p></div>
    <div id="omgDescript" class="row"> <p> Product Description </p></div>
    <div id="omgPrice" class="row"> <p> Product Price </p></div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> <p> Product Url </p></div>
    <div id="omgName" class="row"> <p> Product Name </p></div>
    <div id="omgDescript" class="row"> <p> Product Description </p></div>
    <div id="omgPrice" class="row"> <p> Product Price </p></div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> <p> Product Url </p></div>
    <div id="omgName" class="row"> <p> Product Name </p></div>
    <div id="omgDescript" class="row"> <p> Product Description </p></div>
    <div id="omgPrice" class="row"> <p> Product Price </p></div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> <p> Product Url </p></div>
    <div id="omgName" class="row"> <p> Product Name </p></div>
    <div id="omgDescript" class="row"> <p> Product Description </p></div>
    <div id="omgPrice" class="row"> <p> Product Price </p></div>
  </div>
  </div>
  
</div>
</div> 

<div id="redirectBtn" class="row justify-content-center">
   <div class="col-3">
     <button style="margin-top: 30px; margin-bottom: 30px;" class="btn btn-warning btn-block clear"><a style="color: white;" href="/">Return to
            Main Menu</a></button>
    </div>
    </div>        
</div>
 <script src="js/category.js"></script>
    