<div class="jumbotron jumbotron-fluid bg-warning">
  <div class="container">
    <br>
    <h1 class="display-4 text-center">Oh-My-Gift</h1>
    <br>
    <p class="lead text-center"> {{!-- Item name goes here--}}</p>
  </div>
</div>
<div class="container">
{{!-- Item output goes here --}}
 <div class="card">
  <div class="card-header text-center">
    Your Gift for ${whoever they selected}
  </div>
  

<div class="row">
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> Product Url</div>
    <div id="omgName" class="row"> Product Name</div>
    <div id="omgDescript" class="row"> Product Description</div>
    <div id="omgPrice" class="row"> Product Price</div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> Product Url</div>
    <div id="omgName" class="row"> Product Name</div>
    <div id="omgDescript" class="row"> Product Description</div>
    <div id="omgPrice" class="row"> Product Price</div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> Product Url</div>
    <div id="omgName" class="row"> Product Name</div>
    <div id="omgDescript" class="row"> Product Description</div>
    <div id="omgPrice" class="row"> Product Price</div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> Product Url</div>
    <div id="omgName" class="row"> Product Name</div>
    <div id="omgDescript" class="row"> Product Description</div>
    <div id="omgPrice" class="row"> Product Price</div>
  </div>
  </div>
  <div class="card">
  <div class="col">
    <div id="omgUrl" class="row"> Product Url</div>
    <div id="omgName" class="row"> Product Name</div>
    <div id="omgDescript" class="row"> Product Description</div>
    <div id="omgPrice" class="row"> Product Price</div>
  </div>
  </div>
  
</div>
</div> 


<button style="margin-top: 30px;" class="btn btn-warning btn-block clear"><a style="color: white;" href="/">Return to
            Main Menu</a></button>
</div>
 <script src="js/category.js"></script>
    