<div class="jumbotron jumbotron-fluid bg-warning">
  <div class="container">
    <br>
    <h1 class="display-4 text-center">Oh-My-Gift</h1>
    <br>
    <p class="lead text-center">A Procrastinator’s Guide to Super Last-Minute Gift Ideas (and Excuses)</p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">

      <ul id="options" class="list-group list-group-flush">
        <hr>
        <li class="list-group-item"><button id="btn" type="submit" class="btn btn-primary btn-block"><a class="link"
              href="/login">Who's your gift for?</a> </button></li>
        <li class="list-group-item"><button id="btn" type="submit" class="btn btn-danger btn-block"> <a class="link"
              href="/category">What category is your gift?</a></button> </li>
        <li class="list-group-item"><button id="btn" type="submit" class="btn btn-success btn-block"> <a class="link"
              href="/price">What price range is your gift?</a> </button></li>
      </ul>


      <img id="img1" src="./images/oh-my-gift-box.png" alt="Gift-box">



    </div>
  </div>
</div>
<script type="text/javascript" src="js/signup.js"></script>
<script src="js/omg.js"></script>