
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Oh-My-Gift</h1>
    <p class="lead text-center">A Procrastinator’s Guide to Super Last-Minute Gift Ideas (and Excuses)</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">     
  
  <ul id="contain" class="list-group list-group-flush">
    <li class="list-group-item"><button id="btn" type="submit" class="btn btn-primary btn-block"><a id="a" href="/login">Who's your gift for?</a> </button></li>
    <li class="list-group-item"><button id="btn" type="submit" class="btn btn-danger btn-block"> <a id="a" href="/category">What category is your gift?</a></button> </li>
    <li class="list-group-item"><button id="btn" type="submit" class="btn btn-success btn-block"> <a id="a" href="/price">What price range is your gift?</a> </button></li>
  </ul>


       <img id="img1" src="https://lh4.googleusercontent.com/9YVOEY-vhNYNqJS-wl791wCavjEtDD4xbWrE2davmBTDHP_ambGUB0ZLMhn0RVWg5GaHQ6UYKP6v0-SfIPFtG1OtYo7f_hT-ria2X9dHQShSroggxFCz=w1280" alt="Gift-box">



    </div>
  </div>
</div>
 <script type="text/javascript" src="js/signup.js"></script>
    
    
    
    