/* #contain{
  margin-top: 25px;
} */

.jumbotron {
  padding: 0.5em 0.6em;
}

h1{
  font-size: 50px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-shadow: rgb(0, 0, 0);
  
}

/* Originally #a, changed to class */
.link {
  text-decoration: none;
  color:inherit
}

#btn {
  font-size: 25px; 
  height: 50%; 
  width: 100%;
}
#redirectBtn {
  margin-top: 20px;
}

img{
  position: center;
}

#img1 {
  animation: omgBox 4s;
  height: 75%;
  width: 100%;
  margin: auto;
  display: block 
}

@keyframes omgBox {
  0% {
      transform: translate3d(0px, -150px, 0px);
      opacity: 5%;
  }
  50% {
      transform: translate3d(0px, 50px, 0px);
      opacity: 100%;
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
      opacity: 100%;
  }
}

#options {
  animation: options 5s;
}

@keyframes options {
  0% {
      transform: translate3d(0px, 150px, 0px);
      opacity: 0%;
  }
  50% {
      transform: translate3d(0px, 50px, 0px);
      opacity: 0%;
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
      opacity: 100%;
  }
}